CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
_CPack_Packages/
cmake_install.cmake
comm14cux_version.h
libcomm14cux.pc
docs/
bin/
install_manifest.txt
*.deb
*.gz
*.tgz
*.zip
*.dll.a
LICENSE.TXT
README.TXT
LICENSE.txt
README.txt
build/
build-win32/
.cproject
.project
